* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "NanumSquareRound", "HakgyoansimNadeuriTTF-B", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
